.projects {
   width: 100vw;
   height: 250vh;
   text-align: left;
}

.projects-box {
   top: 20vh;
   width: 40vw;
   margin: 0 auto;
   position: relative;
   height: 10vh;
}

.projects-title {
   font-size: 3vw;  
   right: 10vw;
   position: relative;
}