#project-title {
   font-size: 1.5em;
} 

.project-header {
   display: flex;
   justify-content:space-between;
   align-items:center;
   margin-bottom: 1vw;
}

.project-links {
   background-color: white;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
   display: flex;
   align-items: center;
}

.project-links a {
   color: black;
   border: none;
   cursor: pointer;
   text-decoration: none;
}

.project-links a:visited {
   text-decoration: none;
}

.project-links a:hover {
   color: #696969;
}


.project-box {
   /* margin-top: 5vw; */
   margin-bottom: 5vw;
   width: fit-content;
   display: flex;
   align-items: center;
}

.project-description-portrait {
   border-radius: 30px;
   padding: 1.5vw;
   height: fit-content;
   position: relative;
   /* top: 45vh; */
   /* right: 20vh; */
   z-index: 1;
   background: rgba(255,255,255,0.4);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
   backdrop-filter: blur(10px);
   transform: translateX(-100px) translateY(100px);
   min-width: 40vw;
}

.project-description-landscape {
   border-radius: 30px;
   padding: 1.5vw;
   height: fit-content;
   position: relative;
   z-index: 1;
   background: rgba(255,255,255,0.4);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
   backdrop-filter: blur(10px);
   transform: translateX(200px) translateY(100px);
   min-width: 40vw;
}

.project-image-landscape {
   width: 50vw;
   border-radius: 10px;
   transform: translateX(-200px);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}

.project-image-portrait {
   width: 20vw;
   border-radius: 10px;
   transform: translateX(100px);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}