.project-box h1 {
   font-size: 1.5em;
   padding-bottom: 1vw;
} 


.project-box {
   height: 70vh;
   margin-top: -5vw;
}

.project-description {
   border-radius: 1vw;
   padding: 1.5vw;
   height: fit-content;
   position: relative;
   top: 45vh;
   right: 20vh;
   width: fit-content;
   z-index: 1;
   background: rgba(255,255,255,0.4);
   backdrop-filter: blur(10px);
}

.project-image {
   height: fit-content;
   border-radius: 10px;
}

.project-box img {
   width: 50vw;
   border-radius: 10px;
}