.about {
   height: 90vh;
   text-align: left;
}

.about-box {
   height: 60vh;
   width: 70vw;
   margin: 0 auto;
   position: relative;
   top: 10vh;
   display: flex;
   border-radius: 10px;
}

.about-content {
   background: rgba(255,255,255,0.4);
   height: fit-content;
   border-radius: 20px;
}

.about-description {
   width: inherit;
   padding: 1.5vw;
   background: rgba(255,255,255,0.4);
   backdrop-filter: blur(10px);
   border-radius: 20px;
}

.about h1 {
   font-size: 3vw;  
   margin-bottom: 2vh;
   margin-left: 1.5vw;
   margin-top: 1.5vw;
   color: rgb(140, 135, 187);
}

.about p {
   font-size: 1.25vw;
}

.about-skills {
   display: flex;
   line-height: 3.5vh;
}

.about-skills p {
   width: 30%;
}

.about-img {
   width: 25vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-right: 1.5vw;
}

.about-img img {
   width: 30vw;
}