.about {
   height: 90vh;
   text-align: left;
}

.about-box {
   height: 60vh;
   width: 70vw;
   margin: 0 auto;
   position: relative;
   top: 10vh;
   display: flex;
   border-radius: 10px;
}

.about-content {
   /* background: rgba(255,255,255,0.4); */
   height: fit-content;
   border-radius: 20px;
}

.about-description {
   width: inherit;
   padding-left: 1.5vw;
   backdrop-filter: blur(10px);
   border-radius: 20px;
   color: white;
}

.about h1 {
   font-size: 3vw;  
   color: rgb(140, 135, 187);
}

.about-header {
   margin-bottom: 2vw;
   background: rgba(255,255,255,0.4);
   display: flex;
   justify-content: space-between;
   width: fit-content;
   padding: 1.5vw;
   border-radius: 40px;
}

.about-header h1 {
   margin-right: 2vw;
}

.about-category {
   margin: auto;
   display: flex;
   align-items: center;
   background: rgba(255,255,255,0.4);
   border-radius: 20px;
}

.about p {
   font-size: 1.25vw;
}

.about-category p:hover {
   cursor: pointer;
}

.about-category p {
   padding: 10px;
}

.about-category-selected {
   background-color: white;
   font-size: 1.25vw;
   padding: 10px;
   border-radius: 20px;
}

.about-skills {
   margin-left: 1.5vw;
   display: flex;
   line-height: 3.5vh;
   color: white;
}

.about-skills p {
   width: 30%;
}

.about-img {
   width: 25vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-right: 1.5vw;
}

.about-img img {
   width: 30vw;
}