.contact {
   position: fixed;
   bottom: 10vh;
   left: 10vh;
   width: fit-content;
}

.contact a {
   color: white;
   border: none;
   cursor: pointer;
   text-decoration: none;
}

.contact a:visited{
   text-decoration: none;
}

.contact a:hover {
   color: #696969;
}
