.intro {
   height: 100vh;
   text-align: left;
}

.intro-text {
   position: relative;
   top: 10vh;
   left: 10vh;
   width: fit-content;
}

.intro-text h1 {
   font-size: 5vw;
   width: fit-content;
}

.intro-text h2 {
   font-size: 2.5vw;
   color: #427BBF;
   width: fit-content;
}
