.intro {
   height: 100vh;
   width: 100vw;
   text-align: left;
}

.intro-text {
   position: relative;
   top: 10vh;
   left: 10vh;
}

h1 {
   font-size: 5vw;
}

h2 {
   font-size: 2.5vw;
   color: #8b97c9;
}