.experience {
   height: 75vh;
   width: 100vw;
   text-align: left;
}

.experience-content {
   display: flex;
}

.experience-box {
   width: 60vw;
   top: 10vh;
   margin: 0 auto;
   position: relative;
}

.experience-company {
   font-size: 1.5vw;
   height: 5vh;
   width: 10vw;
}

.experience-selected {
   color: red;
   font-size: 1.5vw;
   height: 5vh;
   width: 10vw; 
}

.experience-titles {
   background: rgba(255,255,255,0.4);
   border-radius: 20px;
   height: fit-content;
}

.experience-companies :hover{
   color: #696969;  
   cursor: pointer;
}

.experience-companies {
   display: flex;
   flex-direction: column;
   background-color: white;
   border-radius: 20px; 
   padding: 1.5vw  1.5vw 0vw 1.5vw;
   height: fit-content;
}

.experience-titles h1 {
   color: white;
   font-size: 3vw;  
   margin-bottom: 2vh;
   margin-top: 1.5vw;
   margin-right: 1.5vw;
   margin-left: 1.5vw;
}

.experience-text {
   color: white;
   margin: 0 auto;
   padding-left: 1.5vw;
}

.experience-text h1 {
   font-size: 2vw;
   margin-bottom: 1vh;
}

.experience-text h2 {
   font-size: 1.5vw;
   margin-bottom: 1.5vh;
}

.experience-text p {
   font-size: 1.25vw;
}



