.experience {
   height: 90vh;
   width: 100vw;
   text-align: left;
}


.experience-box {
   top: 10vh;
   margin: 0 auto;
   position: relative;
}

.experience-company {
   font-size: 1.25vw;
   height: fit-content;
   width: fit-content;
   padding: 10px
}

.experience-selected {
   font-size: 1.25vw;
   height: fit-content;
   width: fit-content;
   background-color: white;
   padding: 10px;
   border-radius: 20px;
}

.experience-titles {
   background: rgba(255,255,255,0.4);
   border-radius: 40px;
   height: fit-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5vw;
   margin-bottom: 2vw;
   width: fit-content;
}

.experience-titles h1 {
   margin-right: 2vw;
}

.experience-content {
   width: 50vw;
   margin: 0 auto;
}

.experience-companies :hover{
   cursor: pointer;
   /* background-color: white; */
   /* border-radius: 20px; */
}

.experience-companies {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: rgba(255,255,255,0.4);
   backdrop-filter: blur(10px);
   border-radius: 20px; 
   /* padding: 1.5vw  1.5vw 1.5vw 1.5vw; */
}

.experience-titles h1 {
   color: rgb(140, 135, 187);
   font-size: 3vw; 
}

.experience-text {
   color: white;
   margin: 0 auto;
   padding-left: 1.5vw;
}

.experience-text h1 {
   font-size: 2vw;
   margin-bottom: 1vh;
}

.experience-text h2 {
   font-size: 1.5vw;
   margin-bottom: 1.5vh;
}

.experience-text p {
   font-size: 1.25vw;
}



